{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nest - Multipurpose eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slider-range.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
    
</head>

<body>
    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails">
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-3.jpg' %}" alt="product image" /></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-4.jpg' %}" alt="product image" /></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-5.jpg' %}" alt="product image" /></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-6.jpg' %}" alt="product image" /></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-7.jpg' %}" alt="product image" /></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-8.jpg' %}" alt="product image" /></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-9.jpg' %}" alt="product image" /></div>
                                </div>
                            </div>
                            <!-- End Gallery -->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container ">
                            <div id="news-flash" class="block text-center ">
                                <ul>
                                    <li>Bolo Rides is 100% Reliable with a Secure Delivery - </li>
                                    <li> Conveniece and Comfort On The GO </li>
                                    <li>Bolo Rides offers Supper Affordable Car Deals</li>
                                    <li>Bolo Rides is The best car rentals service in Cameroon </li>
                                </ul>
                            </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="{% static 'assets/imgs/theme/bolo-logo1.jpeg' %}" alt="logo" /></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">
                                <select class="select-active">
                                    <option>All Car Categories</option>
                                    <option> BLACK CAR GROUP</option>
                                    <option> WHITE CAR GROUP</option>
                                    <option>Co-WORK SPACE</option>

                                </select>
                                <input type="text" placeholder="Search for items..." />
                            </form>
                        </div>

                        <div class="header-action-right">
                            <div class="header-action-2">
                               
                                <div class="header-action-icon-2">
                                    <a href="#">
                                        <img class="svgInject" alt="Nest" src="{% static 'assets/imgs/theme/icons/cart2.jpeg' %}" />
                                    </a>
                                    <a href="#"><span class="lable ml-0">Account</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li><a href="#"><i class="fi fi-rs-user mr-10"></i>My Account</a></li>
                                              <li><a href="{% url 'core:login' %}">Login</a></li>
                                            <li><a href="{% url 'core:register' %}">Register</a></li>
                                            <!-- <li><a href="{% url 'core:forgot_password' %}">Forgot password</a></li> -->
                                            <!-- <li><a href="page-account.html">My Account</a></li> -->
                                            <li><a href="{% url 'core:logout' %}">  <i class="fi fi-rs-sign-out mr-10"></i> LogOut</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- mobile -->
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="{% static 'assets/imgs/theme/bolo-logo1.jpeg' %}" alt="logo" /></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                     
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="active" href="{% url 'core:index' %}">Home <i class="fi-rs-angle-down"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                    </li>

                                    <li>
                                        <a href="{% url 'core:category-list' %}">Category <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">

                                            {% for c in categories %}
                                            <li><a href="{% url 'core:category-product-list' c.cid %}">{{ c.title }}</a></li>
                                             {% endfor %}

                                             <hr>

                                            <li><a href="{% url 'core:category-list' %}"> All Categories</a></li>

                                           
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#">Car Sheets<i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'core:prado-1-elvis' %}">Prado 1 - Elvis</a></li>
                                            <li><a href="{% url 'core:prado-2-levinus' %}">Prado 2 - Levinus</a></li>
                                            <li><a href="{% url 'core:rav4-serge-view' %}"> Rav 4 - Serge</a></li>
                                        </ul>
                                    </li>
                                   
                                    <li>
                                        <a href="page-contact.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-flex">
                        <img src="{% static 'assets/imgs/theme/icons/location2.png' %}" alt="hotline" />
                        <p>+237 652921000 / 693333940 <span>24/7 Support Center</span></p>
                    </div>
                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                    <div class="header-action-right d-block d-lg-none">
                        
                        <div class="header-action-right">
                            <div class="header-action-2">
                               
                                <div class="header-action-icon-2">
                                    <a href="#">
                                        <img class="svgInject" alt="Nest" src="{% static 'assets/imgs/theme/icons/cart2.jpeg' %}" />
                                    </a>
                                    <a href="#"><span class="lable ml-0">Account</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li><a href="#"><i class="fi fi-rs-user mr-10"></i>My Account</a></li>
                                              <li><a href="{% url 'core:login' %}">Login</a></li>
                                            <li><a href="{% url 'core:register' %}">Register</a></li>
                                            <!-- <li><a href="{% url 'core:forgot_password' %}">Forgot password</a></li> -->
                                            <!-- <li><a href="page-account.html">My Account</a></li> -->
                                            <li><a href="{% url 'core:logout' %}">  <i class="fi fi-rs-sign-out mr-10"></i> LogOut</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- hamburger button -->
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="{% url 'core:index' %}"><img src="{% static 'assets/imgs/theme/bolo-logo1.jpeg' %}" alt="logo" /></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…" />
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>

                <div class="mobile-menu-wrap mobile-header-border">
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li class="menu-item-has-children">
                                <a class="active" href="{% url 'core:index' %}">Home <i class="fi-rs-angle-down"></i></a>
                            </li>
                           
                            <li class="menu-item-has-children">
                                <a href="#">About</a>
                            </li>

                            <li class="menu-item-has-children">
                                <a href="#">Category <i class="fi-rs-angle-down"></i></a>
                                <ul class="dropdown"> 
                                    {% for c in categories %}
                                    <li><a href="{% url 'core:category-product-list' c.cid %}">{{ c.title }}</a></li>
                                    {% endfor %}
                                    <hr>
                                    <li><a href="{% url 'core:category-list' %}"> All Categories</a></li>           
                                </ul>       
                            </li>

                            <li class="menu-item-has-children">
                                <a href="#">Car Sheets<i class="fi-rs-angle-down"></i></a>

                                <ul class="dropdown">
                                    <li><a href="{% url 'core:prado-1-elvis' %}">Prado 1 - Elvis</a></li>
                                    <li><a href="{% url 'core:prado-2-levinus' %}">Prado 2 - Levinus</a></li>
                                    <li><a href="{% url 'core:rav4-serge-view' %}"> Rav 4 - Serge</a></li>      
                                </ul>
                            </li>

                            <li class="menu-item-has-children">
                                <a href="#">Contact</a>
                            </li>

                            <li class="menu-item-has-children">
                                <a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap">
                    <div class="single-mobile-header-info">
                        <ul class="contact-infor">
                            <li><img src="{% static 'assets/imgs/theme/icons/location1.png' %}" alt="" /><strong>Address: </strong> <span> Douala, Inbetween total Bonateki and Pharmacy Akwa Nord</span></li>
                            <li><img src="{% static 'assets/imgs/theme/icons/location2.png' %}" alt="" /><strong>Call Us:</strong><span> +237 652921000 / 693333940 </span></li>
                            <li><img src="{% static 'assets/imgs/theme/icons/location3.png' %}" alt="" /><strong>Email:</strong><span> BoloRides.com</span></li>
                            <li><img src="{% static 'assets/imgs/theme/icons/location4.jpeg' %}" alt="" /><strong>Hours:</strong><span>8:00 - 18:00, Mon - Sat</span></li>
                        </ul>
                    </div>
                </div>
                <div class="mobile-social-icon mb-50">
                    <h6 class="mb-15">Follow Us</h6>
                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-facebook-white.svg' %}" alt="" /></a>
                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-twitter-white.svg' %}" alt="" /></a>
                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-instagram-white.svg' %}" alt="" /></a>
                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-pinterest-white.svg' %}" alt="" /></a>
                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-youtube-white.svg' %}" alt="" /></a>
                </div>
                <div class="site-copyright">
                    <h4> Copyright 2024 © Bolo Rides... All rights reserved. </h4>
                </div>
            </div>
        </div>
    </div>
    <!--End header-->

    {% block content %}

    {% endblock content %}

    <footer class="main">
     
      <section class="section-padding footer-mid">
          <div class="container pt-15 pb-20">
              <div class="row row-footer">
                  <div class="col">
                      <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                          <div class="logo mb-30">
                              <a href="index.html" class="mb-15"><img src="{% static 'assets/imgs/theme/bolo-logo1.jpeg' %}" alt="logo" /></a>
                          </div>
                          <ul class="contact-infor">
                              <li><img src="{% static 'assets/imgs/theme/icons/location1.png' %}" alt="" /><strong>Address: </strong> <span> Douala, Inbetween total Bonateki and Pharmacy Akwa Nord</span></li>
                              <li><img src="{% static 'assets/imgs/theme/icons/location2.png' %}" alt="" /><strong>Call Us:</strong><span> +237 652921000 / 693333940 </span></li>
                              <li><img src="{% static 'assets/imgs/theme/icons/location3.png' %}" alt="" /><strong>Email:</strong><span> BoloRides.com</span></li>
                              <li><img src="{% static 'assets/imgs/theme/icons/location4.jpeg' %}" alt="" /><strong>Hours:</strong><span>8:00 - 18:00, Mon - Sat</span></li>
                          </ul>
                      </div>
                  </div>
                  <div class="footer-link-widget col">
                      <h4 class="widget-title">Company</h4>
                      <ul class="footer-list mb-sm-5 mb-md-0">
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Contact Us</a></li>
                          <li><a href="#">Delivery Information</a></li>
                          <li><a href="#">Terms &amp; Conditions</a></li>
                      </ul>
                  </div>

                  <div class="footer-link-widget col">
                      <h4 class="widget-title">Account</h4>
                      <ul class="footer-list mb-sm-5 mb-md-0">
                          <li><a href="#">Sign In</a></li>
                      </ul>
                  </div>

                  <div class="footer-link-widget col">
                    <h4 class="widget-title">Follow Us</h4>
                    <ul class="footer-list  mobile-footer mb-sm-5 mb-md-0">
                        <li class="mobile-social-icon mb-50"><a href="#" > <img src="{% static 'assets/imgs/theme/icons/icon-facebook-white.svg' %}" alt="" /></a></li>
                        <li class="mobile-social-icon mb-50"><a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-twitter-white.svg' %}" alt="" /></a></li>
                        <li class="mobile-social-icon mb-50"><a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-instagram-white.svg' %}" alt="" /></a></li>
                    </ul>
                </div>
              </div>
             
          </div>

        <div class="site-copyright">
            <h4> Copyright 2024 © Bolo Rides... All rights reserved. </h4>
        </div>
      </section>
  </footer>

  <!-- Vendor JS-->
  <script data-cfasync="false" src="{% static '/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
  <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
  <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
  <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/slick.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/wow.js' %}"></script>
  <script src="{% static 'assets/js/plugins/slider-range.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
  <script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
  <script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
  <script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
  <script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
  <script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
  <!-- Template  JS -->
  <script src="{% static './assets/js/main.js' %}"></script>
  <script src="{% static './assets/js/shop.js' %}"></script>
</body>

</html>