{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nest - Multipurpose eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slider-range.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
    
</head>
<body>

    <h1> BOLO RIDES....</h1>

    <div class="container ">
        <div id="news-flash" class="block text-center ">
            <ul>
                <li>Bolo Rides is 100% Reliable with a Secure Delivery - </li>
                <li> Conveniece and Comfort On The GO </li>
                <li>Bolo Rides offers Supper Affordable Car Deals</li>
                <li>Bolo Rides is The best car rentals service in Cameroon </li>
            </ul>
        </div>
</div>

</body>


</html>