* {
    padding: 0;
    margin: 0;
}

.logo {
    width: 10%;
    height: 10%;
}

.navigation {
    color: #4e0606 !important;
    font-size: 0.9rem;
    font-weight: 700;
}

.navigation:hover {
    color: #A66953;
}

