{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<main class="main">

    <div class="d-flex flex-row" >

        <div class="p-2 contact-first">

            <h3> The Royal Essence of Journey :
                <br> Best and Affordable Ride Ever!</h3>
    
            <p> You can rent a car for any purpose. We make car renting easy, whether you need a sports
                 coupe for a weekend ride with a date or a roadster for a road trip in Cameroon for a few days. 
                 We ensure our rides fit your specific needs."
            </p>
        
            <h4> Book Your Ride Today! </h4>
        
            <p>
                <bold>  Need a ride? </bold> 
                Message us on Facebook or call <bold> +237 652 921000 </bold> to book your next trip with BoloRides. 
                We’ll get you where you need to go, safely and on time.
            </p>

        </div>


        <div class="p-2 contact-second">
        
            <img class="brown-circle" src="{% static 'assets/imgs/slider/prado.jpeg' %}" alt="black prado car" />

            <img class="show-car" src="{% static 'assets/imgs/slider/brown2.jpeg' %}" alt="circle drawing" />
        
        </div>
   </div>

   <br>
   <br>
   <br>
   <br>
   <br>

   <section class="home-slider position-relative style=width: 100%; ">
      <div class="home-slide-cover" style="background-image: url('{% static 'assets/imgs/slider/prado.jpeg' %}');">
        
            <div class="single-hero-slider single-animation-wrap " >
                <div class="container mt-5">
                <h2 class="contact-now"> Reach Us Now !!</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group change-color">
                            <label for="fname" class="label">Your Name</label>
                            <input type="text" id="fname" name="name" class="form-control input-change" placeholder="your name here ..." required>
                    
                            <label for="exampleInputEmail1" class="label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                    
                            <label for="subject" class="label">Your Message</label>
                            <textarea class="form-control" id="subject" name="subject" placeholder="Leave us a message here" rows="5" maxlength="500" required></textarea>
                    
                            <br>
            
                            <button type="submit" class="btn btn-primary">Submit Your Message</button>
                           
                        </div>
                    </form>
                    <br>
                    <br>

                    
                </div>
                <br>
            </div>
            
        
        </div>
    </section>     
   
</main>

{% endblock content %}