{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

  <main>
    <br>
    <br>

    <h3 class="page-history">Levinus - Prado-2 Yearly Goals for {{ year }}</h3>
    <br>
    <div class="button-group">
    <a href="{% url 'core:prado-2-levinus' %}" class="btn btn-sucess btn-md" role="button"> Rental Transactions </a>
    <a href="{% url 'core:prado2_levinus_history_view' %}" class="btn btn-sucess btn-md" role="button"> View History Details</a>
    </div>

    <div class="button-group">
        
        <!-- <a href="{% url 'core:add_elvissection_view' %}" class="btn btn-primary btn-md" role="button"> + </a> -->
      </div>
      <br> <table class="table table-hover">
        <thead>
            <tr>
                <th>Month</th>
                <th>Total Rental Rate</th>
                <th>Percentage of Goal</th>
            </tr>
        </thead>
        <tbody>
            {% for goal in levinus_yearly_goal %}
                <tr>
                    <td>{{ goal.month }}</td>
                    <td>{{ goal.total_rental_rate }}</td>
                    <td>{{ goal.percentage_of_goal }}%</td> <!-- Add percentage sign -->
                </tr>
            {% endfor %}
        </tbody>
    </table>

      <br>
{% endblock content %}
