{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

  <main>
    <br>
    <br>

    <!-- <h4  class="page-history">Elvis - Prado-1 Yearly Goals for {{ year }}</h4> -->
    <h2>Yearly Goals for {{ year }}</h2>

    <br>
    <div class="button-group">
    <a href="{% url 'core:prado-1-elvis' %}" class="btn btn-sucess btn-md" role="button"> Rental Transactions </a>
    <a href="{% url 'core:prado1_elvis_history_view' %}" class="btn btn-sucess btn-md" role="button"> View History Details </a>
    </div>
    <div class="button-group">
        <br>
        <!-- <a href="{% url 'core:add_elvissection_view' %}" class="btn btn-primary btn-md" role="button"> + </a> -->
        
      </div>

      <h2>Monthly and Yearly Goals for {{ year }}</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Month</th>
            <th>Total Rental Rate</th>
            <th>Percentage of Monthly Goal</th>
        </tr>
    </thead>
    <tbody>
        {% for goal in elvis_yearly_goal %}
            <tr>
                <td>{{ goal.month_number }} - {{ goal.month_name }}</td>
                <td>{{ goal.total_rental_rate|floatformat:2 }}</td>
                <td>{{ goal.percentage_of_goal|floatformat:2 }}%</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No data available for this year</td>
            </tr>
        {% endfor %}
        <br>
        <tr class="table-info">
            <th><strong>Yearly Total</strong></th>
            <td><strong>{{ total_yearly_rental|floatformat:2 }}</strong></td>
            <td><strong>{{ yearly_percentage|floatformat:2 }}%</strong></td>
        </tr>
    </tbody>
</table>
    
{% endblock content %}
