-{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

  <main>
    <br>
    <br>

    <h4 class="page-history"> History sheet for... {{ header }}  </h4>

    <br>
    <div class="button-group">
        <a href="{% url 'core:add_sergesection_view' %}" class="btn btn-sucess btn-md" role="button"> + Add Car Rental Details </a>
        <a href="{% url 'core:rav4-serge-view' %}" class="btn btn-sucess btn-md" role="button"> Rental Transaction Page </a>
        <a href="{% url 'core:rav4_serge_yearly_goal_view' year=2023 %}" class="btn btn-sucess btn-md" role="button"> Monthly / Yearly % Goals </a>

        
      </div>
      <br>
      <br>

     {% for record in serge_history %}

    <h5 class="header-history">Current Record ID: {{ record.current.pk }}</h5>
    
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                    <th>Type </th>
                    <th>Date </th>
                    <th>Destination</th>
                    <th>Rental Rate Amount</th>
                    <th>Expenses </th>
                    <th>Tag </th>
                    <th>Management Fee Accruals</th>
                    <th>Driver's Income</th>
                    <th>Net Income</th>
                    <th>Transactions </th>
                    <th>Comments </th>
                  </tr>
            </tr>
        </thead>

        <tbody>
            {% with last_history=record.history.last %}
                <tr>
                    <td> History/  Previous Values</td>
                    <td>{{  last_history.date_time }}</td>
                    <td>{{  last_history.destination }}</td>
                    <td>{{  last_history.rental_rate_amount }}</td>
                    <td>{{ history.expenses }}</td>
                    <td>{{  last_history.expense_tag }}</td>
                    <td>{{  last_history.management_fee_accruals }}</td>.
                    <td>{{  last_history.driver_income }}</td>
                    <td>{{  last_history.net_income }}</td>
                    <td>{{  last_history.transaction }}</td>
                    <td>{{  last_history.comments }}</td>

                    <!-- <td>{{ record.current.date_time }}</td> -->
                </tr>

                <tr>
                    <td> Current / Latest  Values</td>
                    <td>{{ record.current.date_time }}</td>
                    <td>{{ record.current.destination }}</td>
                    <td>{{ record.current.rental_rate_amount }}</td>
                    <td>{{ record.current.expenses }}</td>
                    <td>{{ record.current.expense_tag }}</td> 
                    <td>{{ record.current.management_fee_accruals }}</td>
                    <td>{{ record.current.driver_income }}</td>
                    <td>{{ record.current.net_income }}</td>
                    <td>{{ record.current.transaction }}</td>
                    <td>{{ record.current.comments }}</td>
                </tr>

            {% endwith %}
        </tbody>
    </table>
    <br>
</div>
</main>

{% endfor %}
{% endblock content %}
