{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

  <main>
        <div class="center">
            <h1>Login</h1>
      
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <center><h4 style="color: firebrick;">{{message}}</h4></center>
                    {% else %}
                        <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
                    {% endif %}
                {% endfor %}
            {% endif %}
              
            <form method="POST">
      
              {% csrf_token %}
      
              <div class="txt_field">
                <input type="text" required name="username">
                <span></span>
                <label>Username</label>
              </div>
      
              <div class="txt_field">
                <input type="password" required name="password">
                <span></span>
                <label>Password</label>
              </div>
      
              <input type="submit" value="Login">
              <div class="signup_link">
                Not a member? <a href="#">Signup</a>
                <p>Forgot your Password? <a href="#">Reset Password</a></p> 
              </div>
            </form>
          </div>
  </main>

{% endblock %}