{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

  <main>
    <br>

    <h4 class="page-heading"> Viewing {{ header}} </h4>
    <hr>

    <br>
    <br>

    <div class="button-group">
      <a href="{% url 'core:add_levinussection_view' %}" class="btn btn-sucess btn-md" role="button">  + Add Car Rental Details</a>
      <a href="{% url 'core:prado2_levinus_history_view' %}" class="btn btn-sucess btn-md" role="button"> View History </a>
      <a href="{% url 'core:prado2_levinus_yearly_goal_view' year=2023 %}" class="btn btn-sucess btn-md" role="button"> Monthly / Yearly % Goals </a>  
    </div>
    <br>
    <br>

    <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>id </th>
          <th>Date </th>
          <th>Destination</th>
          <th>Rental Rate Amount</th>
          <th>Expenses </th>
          <th>Tag </th>
          <th>Management Fee Accruals</th>
          <th>Driver's Income</th>
          <th>Net Income</th>
          <th>Transactions </th>
          <th>Comments </th>
        </tr>
      </thead> 
      
      <tbody>
        {% for levisec in levinussection %}
        <tr>
          <td> {{ levisec.pk }} </td>
          <td> {{ levisec.date_time }} </td>
          <td> {{ levisec.destination }} </td>
          <td> {{ levisec.rental_rate_amount}} </td>
          <td> {{ levisec.expenses }} </td>
          <td> {{ levisec.expense_tag }} </td>
          <td> {{ levisec.management_fee_accruals }} </td>
          <td> {{ levisec.driver_income }} </td>
          <td> {{ levisec.net_income }} </td>
          <td> {{ levisec.transaction }} </td>
          <td> {{ levisec.comments  }} </td>  

          <td>
            <a href="{% url 'core:edit_levinussection' levisec.pk %}" class="btn btn-sucess btn-sm" role="button">Edit</a>
          </td>

        </tr>

        {% endfor %}

         <!-- total sum row  -->
     
      <tr class="total-table">
        <td colspan="3"> <strong>Total : </strong> </td>
        <td><strong> {{ total_sums.rental_rate_amount}} </strong> CFA </td>
        <td> <strong> {{ total_sums.expenses }} </strong>  CFA</td>
        <td> <strong> {{ total_sums.expense_tag }} </strong> </td>
        <td> <strong> {{ total_sums.management_fee_accruals }}</strong> CFA</td>
        <td> <strong> {{ total_sums.driver_income }} </strong>CFA</td>
        <td> <strong> {{ total_sums.net_income }} </strong> CFA</td>
        <td> <strong> {{ total_sums.transaction }} </strong>  CFA </td>
      </tr>
      </tbody> 
    </table>
    </div>
    <br>
    <br>
  </main>

{% endblock content %}

  