{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

  <main>
    <br>
    <h4 class="page-heading"> Viewing {{ header}} </h4>
    <hr>
    <br>
    <br>

    <div class="button-group">
      <a href="{% url 'core:add_elvissection_view' %}" class="btn btn-sucess btn-md" role="button"> + Add Car Rental Details</a>
      <a href="{% url 'core:prado1_elvis_history_view' %}" class="btn btn-sucess btn-md" role="button"> View History </a>

      {% now "Y" as current_year %}
      <a href="{% url 'core:prado1_elvis_yearly_goal_view' year=current_year %}" class="btn btn-sucess btn-md" role="button"> Monthly / Yearly % Goals </a>
  
    </div>
    <br>
    <br>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>id </th>
            <th>Date </th>
            <th>Destination</th>
            <th>Rental Rate Amount</th>
            <th>Expenses </th>
            <th>Tag </th>
            <th>Management Fee Accruals</th>
            <th>Driver's Income</th>
            <th>Net Income</th>
            <th>Transactions </th>
            <th>Comments </th>
          </tr>
        </thead>
        
        <tbody>
          {% for elvissec in elvissection %}
          <tr>
            <td> {{ elvissec.pk }} </td>
            <td> {{ elvissec.date_time }} </td>
            <td> {{ elvissec.destination }} </td>
            <td> {{ elvissec.rental_rate_amount}} </td>
            <td> {{ elvissec.expenses }} </td>
            <td> {{ elvissec.expense_tag }} </td>
            <td> {{ elvissec.management_fee_accruals }} </td>
            <td> {{ elvissec.driver_income }} </td>
            <td> {{ elvissec.net_income }} </td>
            <td> {{ elvissec.transaction }} </td>
            <td> {{ elvissec.comments  }} </td>
            
            <td>
              <a href="{% url 'core:edit_elvissection' elvissec.pk %}" class="btn btn-sucess btn-sm" role="button"> Edit </a>
            </td>
          </tr>
          
          {% endfor %}

      <!-- total sum row  -->
     
      <tr class="total-table">
        <td colspan="3"> <strong>Total : </strong> </td>
        <td><strong> {{ total_sums.rental_rate_amount}}</strong>  CFA </td>
        <td> <strong> {{ total_sums.expenses }}</strong> CFA</td>
        <td> <strong> {{ total_sums.expense_tag }} </strong> </td>
        <td> <strong> {{ total_sums.management_fee_accruals }}</strong> CFA</td>
        <td> <strong> {{ total_sums.driver_income }}</strong> CFA</td>
        <td> <strong> {{ total_sums.net_income }}</strong> CFA</td>
        <td> <strong> {{ total_sums.transaction }}</strong> CFA</td>
      </tr>
      </tbody> 
    </table>
  </div>
    <br>
    <br>
    
  </main>

{% endblock content %}

  