{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

  <main>
    <br>
    <br>

    <h4>Currently Viewing {{ header}} </h4>
    <br>

    <div class="button-group">
      <h5> Add Car Rental Amount</h5>
      <a href="{% url 'core:add_levinussection_view' %}" class="btn btn-primary btn-md" role="button"> + </a>
      <a href="{% url 'core:prado2_levinus_history_view' %}" class="btn btn-primary btn-md" role="button"> View History </a>
      <a href="{% url 'core:prado2_levinus_yearly_goal_view' year=2023 %}" class="btn btn-primary btn-md" role="button"> Monthly / Yearly % Goals </a>

      
    </div>
    <br>
    <br>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>id </th>
          <th>Date </th>
          <th>Destination</th>
          <th>Rental Rate Amount</th>
          <th>Expenses </th>
          <th>Tag </th>
          <th>Management Fee Accruals</th>
          <th>Driver's Income</th>
          <th>Net Income</th>
          <th>Transactions </th>
          <th>Comments </th>
        </tr>
      </thead> 
      
      <tbody>
        {% for levisec in levinussection %}
        <tr>
          <td> {{ levisec.pk }} </td>
          <td> {{ levisec.date_time }} </td>
          <td> {{ levisec.destination }} </td>
          <td> {{ levisec.rental_rate_amount}} </td>
          <td> {{ levisec.expenses }} </td>
          <td> {{ levisec.expense_tag }} </td>
          <td> {{ levisec.management_fee_accruals }} </td>
          <td> {{ levisec.driver_income }} </td>
          <td> {{ levisec.net_income }} </td>
          <td> {{ levisec.transaction }} </td>
          <td> {{ levisec.comments  }} </td>  

          <td>
            <a href="{% url 'core:edit_levinussection' levisec.pk %}" class="btn btn-warning btn-sm" role="button">Edit</a>
          </td>

        </tr>

        {% endfor %}

         <!-- total sum row  -->
     
      <tr>
        <td colspan="3"> <strong>Total : </strong> </td>
        <td><strong> {{ total_sums.rental_rate_amount}}</strong></td>
        <td> <strong> {{ total_sums.expenses }}</strong></td>
        <td> <strong> {{ total_sums.management_fee_accruals }}</strong></td>
        <td> <strong> {{ total_sums.driver_income }}</strong></td>
        <td> <strong> {{ total_sums.net_income }}</strong></td>
        <td> <strong> {{ total_sums.transaction }}</strong></td>
      </tr>
      </tbody> 
    </table>
  </main>

{% endblock content %}

  