{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

  <main>
    <br>
    <h4 class="page-heading">Currently Viewing {{ header}} </h4>
    <hr class="page-line">
    <br>
    <br>

    <div class="button-group">
      <a href="{% url 'core:add_sergesection_view' %}" class="btn btn-sucess btn-md" role="button"> + Add Car Rental Details </a>
      <a href="{% url 'core:rav4_serge_history_view' %}" class="btn btn-sucess btn-md" role="button"> View History </a>
     
      {% now "Y" as current_year %}
      <a href="{% url 'core:rav4_serge_yearly_goal_view' year=current_year %}" class="btn btn-sucess btn-md" role="button"> Monthly / Yearly % Goals </a>
    
    </div>
    <br>
    <br>

    <div class="table-responsive"> 
    <table class="table table-hover">
      <thead>
        <tr>
          <th>id </th>
          <th>Date </th>
          <th>Destination</th>
          <th>Rental Rate Amount</th>
          <th>Expenses </th>
          <th>Tag </th>
          <th>Management Fee Accruals</th>
          <th>Driver's Income</th>
          <th>Net Income</th>
          <th>Transactions </th>
          <th>Comments </th>
        </tr>
      </thead> 
      
      <tbody>
        {% for sergesec in sergesection %}
        <tr>
          <td> {{ sergesec.pk }} </td>
          <td> {{ sergesec.date_time }} </td>
          <td> {{ sergesec.destination }} </td>
          <td> {{ sergesec.rental_rate_amount}} </td>
          <td> {{ sergesec.expenses }} </td>
          <td> {{ sergesec.expense_tag }} </td>
          <td> {{ sergesec.management_fee_accruals }} </td>
          <td> {{ sergesec.driver_income }} </td>
          <td> {{ sergesec.net_income }} </td>
          <td> {{ sergesec.transaction }} </td>
          <td> {{ sergesec.comments  }} </td> 

          <td>
            <a href="{% url 'core:edit_sergesection' sergesec.pk %}" class="btn btn-sucess btn-sm" role="button"> Edit </a>
          </td>

        </tr>

        {% endfor %}

         <!-- total sum row  -->
     
      <tr class="total-table">
        <td colspan="3"> <strong>Total : </strong> </td>
        <td><strong> {{ total_sums.rental_rate_amount}}</strong>  CFA</td>
        <td> <strong> {{ total_sums.expenses }}</strong> CFA</td>
        <td> <strong>  {{ total_sums.expense_tag }}</strong> </td>
        <td> <strong> {{ total_sums.management_fee_accruals }}</strong> CFA</td>
        <td> <strong> {{ total_sums.driver_income }}</strong> CFA</td>
        <td> <strong> {{ total_sums.net_income }}</strong> CFA</td>
        <td> <strong> {{ total_sums.transaction }}</strong> CFA</td>
      </tr>
      </tbody> 
    </table>
  </div>
  <br>
  <br>
  </main>

{% endblock content %}

  