{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

  <main>
    <div class="center">
        <h1>Reset Password</h1>
  
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <center><h4 style="color: firebrick;">{{message}}</h4></center>
                {% else %}
                    <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
                {% endif %}
            {% endfor %}
        {% endif %}
          
        <form method="POST">
  
          {% csrf_token %}
  
          <div class="txt_field">
            <input type="password" required name="password">
            <span></span>
            <label>Password</label>
          </div>    
  
          <div class="txt_field">
              <input type="password" required name="confirm_password">
              <span></span>
              <label>Confirm Password</label>
          </div>    
  
          <input type="submit" value="Reset Password">
          <div class="signup_link">
            Remember your password? <a href="{% url 'login' %}">Login</a>
          </div>
        </form>
      </div>
       
  </main>

{% endblock %}